/* body {
  overflow-x: hidden !important;
} */
.profile-img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 1px solid black;
}
.profile-overview {
  margin-left: 12%;
  text-align: center;
  width: 80vw;
  font-family: Heebo;
}

.profile-context {
  width: 100%;
  margin: auto;
  font-size: 18px;
}
.profile-context span {
  font-weight: 500;
  font-size: 26px;
}
.first-part {
  display: block;
}
.second-part {
  display: block;
}

.profile-context > h1 {
  font-size: 32px;
}

.profile-context > button {
  margin-top: 1rem;
  padding: 10px;
  border: 1px solid #f44336;
  color: white;
  background: #ef5350;
  width: 15rem;
  font: inherit;
}
.profile-context > button:hover {
  background: #ff9100;
  cursor: pointer;
}

.posts {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  align-items: center;
}

.post-overview {
  margin-top: 40px;
  background-color: #edf7fa;
  padding: 20px;
}
.posts > h1 {
  width: 95%;
  margin: auto;
  background-color: #edf7fa;
  padding: 1rem 0px;
  text-align: center;
}

.post {
  width: 95%;
  background: white;
  border-radius: 10px;
  margin-bottom: 2rem;
  padding: 1rem 0px;
}
.post > div {
  padding-left: 1rem;
}
.post h1 {
  font-size: 24px;
}

.post pre {
  font-size: 16px;
}

.post p {
  font-size: 21px;
}

@media (min-width: 40rem) {
  .profile-overview {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: left;
  }
  .profile-img__container {
    margin-right: 200px;
  }
  .profile-context {
    margin-top: 4rem;
    width: 50%;
    margin-left: 6rem;
    text-align: left;
  }
  .first-part {
    text-align: left;
  }
  .second-part {
    display: inline-block;
  }
  .profile-context > div {
    text-align: left;
  }
  .profile-context > p {
    text-align: left;
  }
  /* .post-overview > h1 {
    text-align: left;
    margin-left: 15rem;
  } */
  .posts {
    flex-direction: row;

    justify-content: center;
    flex-wrap: wrap;
  }
  .post {
    margin: 20px;
    width: 30%;
  }
  .posts > h1 {
    width: 100%;
    margin-left: 19%;
    text-align: left;
  }
}

.feature-works {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding-bottom: 1rem;
}
.feature > img {
  width: 95%;
  align-self: center;
}
.feature__details {
  padding-left: 10px;
}
.feature__details > h2 {
  font-size: 24px;
  font-weight: 700;
}
.feature__context .feature__year {
  display: inline-block;
  width: 60px;
  text-align: center;
  margin-right: 30px;
  border-radius: 20px;
  background: #142850;
  color: white;
  padding: 2px 8px;
}

.feature__context .feature__name {
  font-size: 18px;
  color: #bdbdbd;
}
.feature__details > p {
  font-size: 18px;
}

.feature__dash {
  width: 95%;
  margin: auto;
  background: #e0e0e0;
  height: 2px;
}

.feature.dis {
  display: none;
}

@media (min-width: 40rem) {
  .feature.dis {
    display: flex;
  }
  .feature {
    flex-direction: row;
    margin-left: 6rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .feature__details {
    width: 50%;
  }
  .feature > img {
    width: 300px;
  }
  .feature__dash {
    margin-top: 1rem;
    width: 75%;
  }
  .feature__details > h2 {
    margin-bottom: 30px;
  }
  .feature-works > h2 {
    width: 95%;
    margin-left: 31%;
  }
}
